@model FoodTrackerMVC.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_product" />
            <div class="form-group">
                <label asp-for="product_name" class="control-label"></label>
                <input asp-for="product_name" class="form-control" />
                <span asp-validation-for="product_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_description" class="control-label"></label>
                <input asp-for="product_description" class="form-control" />
                <span asp-validation-for="product_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unit_of_measurement" class="control-label"></label>
                <input asp-for="unit_of_measurement" class="form-control" />
                <span asp-validation-for="unit_of_measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_category" class="control-label"></label>
                <input asp-for="id_category" class="form-control" />
                <span asp-validation-for="id_category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valability" class="control-label"></label>
                <input asp-for="valability" class="form-control" />
                <span asp-validation-for="valability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="frequency_usage" class="control-label"></label>
                <input asp-for="frequency_usage" class="form-control" />
                <span asp-validation-for="frequency_usage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
