<head><link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"></head>

<div class="about-page">
	<div class="about">
		<h2>About Our Application</h2>
		<p class="pp">Don't Waste Food Application was created for humanity good. In order to save our little loved planet and help people to not waste food anymore, we developed an app which will help you manage your food shopping addiction.</p>

		<div>
			<img src="~/images/earth.png" style=" max-width: 300px" />
		</div>

		<br />
		<h2>About Us</h2>
		<p class="pp">We are five friends from Faculty of Mathematics and Computer Science, University of Bucharest. Using our creativity, passion for technology and a will to make the world a better place, we started this project. </p>
	</div>

	<br />

	<div class="grid-container">
		<div class="grid-item"><img src="~/images/anca.jpg" class="imgTeam"></div>
		<div class="grid-item"><img src="~/images/andreea.jpg" class="imgTeam"></div>
		<div class="grid-item"><img src="~/images/valentina.jpg" class="imgTeam"></div>
		<div class="grid-item"><img src="~/images/ioana.jpg" class="imgTeam"></div>
		<div class="grid-item"><img src="~/images/madalina.jpg" class="imgTeam"></div>


		<div class="grid-item"><p class="pp">Anca Gheorghe</p></div>
		<div class="grid-item"><p class="pp">Andreea Roman</p></div>
		<div class="grid-item"><p class="pp">Valentina Vintila</p></div>
		<div class="grid-item"><p class="pp">Ioana Cirstoiu</p></div>
		<div class="grid-item"><p class="pp">Madalina Nanu</p></div>
	</div>

</div>